{% load staticfiles %}
{% csrf_token %}
{% load staticfiles %}

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
// DONE DJANGO HACK

function get_site_prefix(){
    var href = $(location).attr("href");
    return href
}

function cache_clear()
    {
    window.location.reload(true);
    alert('refresh');
}

function doSearch(){
    var prefix= get_site_prefix();
    $.ajax({
        type: "POST",
        url: prefix + "doSearch/", 
        data: { 
            service: $('#itemid').val(),
            host: $('#productid').val(),
        },
	});
}
        
$(function () {
var csrftoken = getCookie('csrftoken'); 
    $(document).ready(function(){
     setInterval(function(){cache_clear()},1000000);
     });
      
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // END DJANGO AJAX
  
          
});



</script>


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basic Panel - jQuery EasyUI Demo</title>
<script src="{% static 'jquery-easyui-1/jquery.min.js'%}"></script>
<script src="{% static 'jquery-easyui-1/jquery.easyui.min.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cloudclient/monitor.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/themes/icon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/themes/default/easyui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/demo/demo.css' %}">
</head>

<body class="easyui-layout">
	<div data-options="region:'north',border:false" style="height:60px;font-size:28px;background:#F5F5F5;padding:10px">Tsinghua Cloud Monitor</div>
	<div data-options="region:'west',split:true,title:'Menu'" style="width:150px;padding:10px;">
	<a href="/homepage" class="easyui-linkbutton" style="width:130px">Homepage</a>
	<a href="/monitor" class="easyui-linkbutton" style="width:130px">Services</a>
	<a href="/hoststatus" class="easyui-linkbutton" style="width:130px">Hosts</a>
	<a href="/mapchart" class="easyui-linkbutton" style="width:130px">Map</a>
</div>
    <div data-options="region:'east',split:true" title="Host Detail" style="width:300px;">
    <table class="easyui-datagrid">
    <thead>
      <tr>
        <th data-options="field:'host'" width="50">Host</th>
        <th data-options="field:'IP'" width="150">IP</th>
        <th data-options="field:'Owner'" width="50">Owner</th>
        <th data-options="field:'Info'" width="50">Info</th>
                
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>{{host.HostName}}</td>
        <td >{{host.IP}}</td>
        <td >{{host.Owner}}</td>
        <td >{{host.Info}}</td>
        </tr>
    </tbody>
  </table>      
    </div>
	
	<div data-options="region:'south',border:false" style="height:20px;background:#F5F5F5;padding:10px;"></div>
	<div data-options="region:'center',title:'Monitor Charts'">
	    
		


<div id="main" style="height:400px;width:900px;"></div>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
// 使用
        require(
            [
                'echarts',
                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
               
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                var option = {
    title : {
        text: 'Memeory Usage Data',
        subtext: 'Host'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['Used']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data :['{{memory_timestamp.19}}','{{memory_timestamp.18}}','{{memory_timestamp.17}}','{{memory_timestamp.16}}','{{memory_timestamp.15}}','{{memory_timestamp.14}}','{{memory_timestamp.13}}','{{memory_timestamp.12}}','{{memory_timestamp.11}}','{{memory_timestamp.10}}','{{memory_timestamp.9}}','{{memory_timestamp.8}}','{{memory_timestamp.7}}','{{memory_timestamp.6}}','{{memory_timestamp.5}}','{{memory_timestamp.4}}','{{memory_timestamp.3}}','{{memory_timestamp.2}}','{{memory_timestamp.1}}','{{memory_timestamp.0}}']
        }
    ],
    yAxis : [
        {
            type : 'value',
            axisLabel : {
                formatter: '{value} KB'
            },
            scale:true
        }
    ],
    series : [
                {
            name:'Used',
            type:'line',
            data:[{{memory_used.19}},{{memory_used.18}},{{memory_used.17}},{{memory_used.16}},{{memory_used.15}},{{memory_used.14}},{{memory_used.13}},{{memory_used.12}},{{memory_used.11}},{{memory_used.10}},{{memory_used.9}},{{memory_used.8}},{{memory_used.7}},{{memory_used.6}},{{memory_used.5}},{{memory_used.4}},{{memory_used.3}},{{memory_used.2}},{{memory_used.1}},{{memory_used.0}}],
            
            markLine : {
                data : [
                    {type : 'average', name : '平均值'}
                ]
            }
        },
                
    ]
};
                    
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );

</script>

<div id="cpuload" style="height:400px;width:900px;"></div>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
 $(function () {
var csrftoken = getCookie('csrftoken'); 

  
  
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // END DJANGO AJAX
   
});
       // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
// 使用
        require(
            [
                'echarts',
                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
               
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('cpuload')); 
                var option = {
    title : {
        text: 'CPU Load Data',
        subtext: 'Host'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['1 minute','5 minutes']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : ['{{cpu_timestamp.0}}','{{cpu_timestamp.1}}','{{cpu_timestamp.2}}','{{cpu_timestamp.3}}','{{cpu_timestamp.4}}','{{cpu_timestamp.5}}']
        }
    ],
    yAxis : [
        {
            type : 'value',
            axisLabel : {
                formatter: '{value} '
            },
            scale:true
        }
    ],
    series : [
        {
            name:'Average in 1 minute',
            type:'line',
            data:[{{cpu_one.0}},{{cpu_one.1}},{{cpu_one.2}},{{cpu_one.3}},{{cpu_one.4}},{{cpu_one.5}}],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        {
            name:'Average in 5 minutes',
            type:'line',
            data:[{{cpu_five.0}},{{cpu_five.1}},{{cpu_five.2}},{{cpu_five.3}},{{cpu_five.4}},{{cpu_five.5}}],
            
            markLine : {
                data : [
                    {type : 'average', name : '平均值'}
                ]
            }
        },
                
    ]
};
                    
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );

</script>


<div id="disk" style="height:400px;width:900px;"></div>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
// 使用
        require(
            [
                'echarts',
                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
               
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('disk')); 
                var option = {
    title : {
        text: 'Disk Usage Data',
        subtext: 'Host'
    },
    color : [ 
    '#6495ed','#87cefa', '#da70d6', '#32cd32', '#6495ed', 
    '#ff69b4', '#ba55d3', '#cd5c5c', '#ffa500', '#40e0d0', 
    '#1e90ff', '#ff6347', '#7b68ee', '#00fa9a', '#ffd700', 
    '#6b8e23', '#ff00ff', '#3cb371', '#b8860b', '#30e0e0' 
],
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['Used']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : ['','','','','','','','','','']
        }
    ],
    yAxis : [
        {
            type : 'value',
            axisLabel : {
                formatter: '{value} MB'
            },
            scale:true
        }
    ],
    series : [
                {
            name:'Used',
            type:'line',
            data:[{{diskuse.0}},{{diskuse.1}},{{diskuse.2}},{{diskuse.3}},{{diskuse.4}},{{diskuse.5}},{{diskuse.6}},{{diskuse.7}},{{diskuse.8}},{{diskuse.9}}],
            
            markLine : {
                data : [
                    {type : 'average', name : '平均值'}
                ]
            }
        },
                
    ]
};
                    
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );

</script>


<div id="process" style="height:400px;width:900px;"></div>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
// 使用
        require(
            [
                'echarts',
                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
               
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('process')); 
                var option = {
    title : {
        text: 'Process Amount',
        subtext: 'Host'
    },
    color : [ 
    '#FF0080'],
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['Number']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : ['','','','','','','','','','','','','','','','']
        }
    ],
    yAxis : [
        {
            type : 'value',
            axisLabel : {
                formatter: '{value}'
            },
            scale:true
        }
    ],
    series : [
                {
            name:'Used',
            type:'line',
            data:[{{pro.1}},{{pro.1}},{{pro.2}},{{pro.3}},{{pro.4}},{{pro.5}},{{pro.6}},{{pro.7}},{{pro.8}},{{pro.9}},{{pro.10}},{{pro.11}},{{pro.12}},{{pro.13}},{{pro.14}},{{pro.15}}],
            
            markLine : {
                data : [
                    {type : 'average', name : '平均值'}
                ]
            }
        },
                
    ]
};
                    
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );

</script>
	</div>
	
	