{% csrf_token %}
{% load staticfiles %}

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
// DONE DJANGO HACK

function get_site_prefix(){
    var href = $(location).attr("href");
    return href
}

function cache_clear()
    {
    window.location.reload(true);
    alert('refresh');
}

function doSearch(){
    var prefix= get_site_prefix();
    $.ajax({
        type: "POST",
        url: prefix + "doSearch/", 
        data: { 
            service: $('#itemid').val(),
            host: $('#productid').val(),
        },
	});
}
/**
        * EasyUI DataGrid根据字段动态合并单元格
        * @param fldList 要合并table的id
        * @param fldList 要合并的列,用逗号分隔(例如："name,department,office");
        */
        function MergeCells(tableID, fldList) {
            
            var Arr = fldList.split(",");
            var dg = $('#' + tableID);
            var fldName;
            var RowCount = dg.datagrid("getRows").length;
            var span;
            var PerValue = "";
            var CurValue = "";
            var length = Arr.length - 1;
            for (i = length; i >= 0; i--) {
                fldName = Arr[i];
                PerValue = "";
                span = 1;
                for (row = 0; row <= RowCount; row++) {
                    if (row == RowCount) {
                        CurValue = "";
                    }
                    else {
                        CurValue1 = dg.datagrid("getRows")[row][fldName].split('>');
                        CurValue = CurValue1[1];
                 
                        
                        
                    }
                    if (PerValue == CurValue) {
                        span += 1;
                    }
                    else {
                        var index = row - span;
                        dg.datagrid('mergeCells', {
                            index: index,
                            field: fldName,
                            rowspan: span,
                            colspan: null
                        });
                        span = 1;
                        PerValue = CurValue;
                    }
                }
            }
             $('.datagrid-td-merged').find('a').css('font-size','15px');
             $('.datagrid-td-merged').css('background-color','#7B7B7B'); 
             
             
         }
        
$(function () {
var csrftoken = getCookie('csrftoken'); 
    $(document).ready(function(){
     setInterval(function(){cache_clear()},1000000);
     });
      
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // END DJANGO AJAX
  
          
});



</script>


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basic Panel - jQuery EasyUI Demo</title>
<script src="{% static 'jquery-easyui-1/jquery.min.js'%}"></script>
<script src="{% static 'jquery-easyui-1/jquery.easyui.min.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cloudclient/monitor.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/themes/icon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/themes/black/easyui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/demo/demo.css' %}">
</head>

<body class="easyui-layout">
	<div data-options="region:'north',border:false" style="height:60px;font-size:28px;background:#F5F5F5;color:#3C3C3C;padding:10px">Tsinghua Cloud Monitor</div>
	<div data-options="region:'west',split:true,title:'Menu'" style="width:150px;padding:10px;">
	<a href="/login" class="easyui-linkbutton" style="width:130px">Log out</a>
	<a href="/monitor" class="easyui-linkbutton" style="width:130px">Services</a>
	<a href="/hoststatus" class="easyui-linkbutton" style="width:130px">Hosts</a>
	<a href="/mapchart" class="easyui-linkbutton" style="width:130px">Map</a>
</div></div>
	<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region</div>
	<div data-options="region:'south',border:false" style="height:20px;background:#F5F5F5;padding:10px;"></div>
	<div data-options="region:'center',title:'Monitor'">
	    
		<table id='service-table' class="easyui-datagrid" toolbar="#tb"
					data-options="border:false,singleSelect:true,fit:true,fitColumns:true,onLoadSuccess:function(data){ MergeCells('service-table','itemid');}">
				<thead>
					<tr>
						<th data-options="field:'itemid'" width="50" sortable="true">Host</th>
						<th data-options="field:'listprice'" width="50">Status</th>
						<th data-options="field:'unitcost'" width="80">Last Check</th>
						<th data-options="field:'attr1'" width="180">Status Information</th>
						<th data-options="field:'status'" width="200">Duration</th>
					</tr>
				</thead>
				<tbody>
                       {% for host in host %}
                       <tr>
                       <td class='detail'><a href="{% url 'hostdetailmore' host.id%}" style="color:white">{{host.HostName}}</a></td>
                       <td>UP</td>
                       <td>{{host.LastCheck}}</td>
                       <td>{{host.PluginOutput}}</td>
                       <td>{{host.Duration}}</td>
                       </tr>
                       {% endfor %}

			</table>
	</div>
</body>
</html>

