{% csrf_token %}
{% load staticfiles %}

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
// DONE DJANGO HACK

function get_site_prefix(){
    var href = $(location).attr("href");
    return href
}

function cache_clear()
    {
    window.location.reload(true);
    alert('refresh');
}


        
$(function () {
var csrftoken = getCookie('csrftoken'); 
    $(document).ready(function(){
     setInterval(function(){cache_clear()},1000000);
     });
      
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // END DJANGO AJAX
  
          
});



</script>


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basic Panel - jQuery EasyUI Demo</title>
<script src="{% static 'jquery-easyui-1/jquery.min.js'%}"></script>
<script src="{% static 'jquery-easyui-1/jquery.easyui.min.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cloudclient/monitor.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/themes/icon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/themes/black/easyui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/demo/demo.css' %}">
</head>

<style type="text/css">
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    color:#FFFFFF;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #505247;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #F7F7F7;
}
</style>

<body class="easyui-layout">
	<div data-options="region:'north',border:false" style="height:60px;font-size:28px;background:#F5F5F5;color:#3C3C3C;padding:10px">清华云平台－监控模块</div>
	<div data-options="region:'west',split:true,title:'菜单'" style="width:150px;padding:10px;">
    	<a href="/login" class="easyui-linkbutton" style="width:130px">登出</a>
    	<a href="/monitor" class="easyui-linkbutton" style="width:130px">网络服务</a>
    	<a href="/hoststatus" class="easyui-linkbutton" style="width:130px">主机信息</a>
    	<a href="/mapchart" class="easyui-linkbutton" style="width:130px">网络拓扑</a>
        <a href="/totalcompare" class="easyui-linkbutton" style="width:130px">全局监控</a>
    </div>
	<div data-options="region:'center',title:'全局监控图'" style="background:#F0F0F0;position:relative;">
        
        <div style="position:relative;height:600px;">
        	<div id="memoryusage" style="height:600px;width:1000px;position:absolute;top:0;left:0"></div>
            <div id='memoryusage_form' style='height:300px;width:280px;float:right;'>
                <table id='memoryusage-table' class="gridtable" toolbar="#tb"
                                data-options="border:false,singleSelect:true,fit:true,fitColumns:true,onLoadSuccess:function(data){ MergeCells('memoryusage-table','itemid');}">
                    <thead>
                        <tr>
                            <th data-options="field:'itemid'" width="60" sortable="true">主机</th>
                            <th data-options="field:'productid'" width="70">已用用量KB</th>
                            <th data-options="field:'listprice'" width="80">总量KB</th>
                            <th data-options="field:'unitcost'" width="40">使用率</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                            {% for memoryuse in memoryuse_object %}
                            <tr>
                            <td>{{memoryuse.name}}</td>
                            <td>{{memoryuse.used}}</td>
                            <td>{{memoryuse.total}}</td>
                            <td>{{memoryuse.percentage}}</td>
                            
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                <!-- ECharts单文件引入 -->
        <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
        <script type="text/javascript">
                // 路径配置
                require.config({
                    paths: {
                        echarts: 'http://echarts.baidu.com/build/dist'
                    }
                });
        // 使用
                require(
                    [
                        'echarts',
                        'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
                       
                    ],
                    function (ec) {
                        // 基于准备好的dom，初始化echarts图表
                        var memory_used_all =0;
                        var memory_total_all = 0; 
                        var memoryuse_name = new Array();
                        
                        {% for name in memoryuse_name %}
                          memoryuse_name.push('{{name}}');
                        {% endfor %}
                        memoryuse_name.push('Overall');

                        var memoryuse_used = new Array();
                        {% for used in memoryuse_used %}
                          memoryuse_used.push({{used}});
                          memory_used_all = memory_used_all + {{used}};
                        {% endfor %}
                        memoryuse_used.push(memory_used_all);
                        //alert(memory_used_all);

                        var memoryuse_total = new Array();
                        {% for total in memoryuse_total %}
                          memoryuse_total.push({{total}});
                          memory_total_all = memory_total_all + {{total}};
                        {% endfor %}
                        //alert(memory_total_all);
                        memoryuse_total.push(memory_total_all);

                        var number = memoryuse_total.length;
                        //alert(number);
                        var mark = new Array();
                        for(var i=0;i<number;i++){
                            
                            var o = {
                                
                                value: memoryuse_total[i] ? (memoryuse_used[i]/memoryuse_total[i]).toFixed(2) : 0,
                                xAxis:i,
                                yAxis:(memoryuse_total[i]+5000000)
                            }
                            //alert(o);
                            mark.push(o);

                        }
                        var myChart = ec.init(document.getElementById('memoryusage')); 
                        var option = {
            title : {
                text: '各主机内存使用情况',
                subtext: 'by 清华云平台'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:[
                    '内存使用情况－已用','',
                    '内存使用情况－总量'        ]
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            grid: {y: 70, y2:30, x2:20},
            xAxis : [
                {
                    type : 'category',
                    data : memoryuse_name
                },
                {
                    type : 'category',
                    axisLine: {show:false},
                    axisTick: {show:false},
                    axisLabel: {show:false},
                    splitArea: {show:false},
                    splitLine: {show:false},
                    data : memoryuse_name
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel:{formatter:'{value} KB'}
                }
            ],
            series : [
              
                {
                    name:'内存使用情况－已用',
                    type:'bar',
                    itemStyle: {normal: {color:'rgba(102,102,255,1)', label:{show:true,textStyle:{color:'#27727B'}}}},
                    data:memoryuse_used
                },
           

                {
                    name:'内存使用情况－总量',
                    type:'bar',
                    xAxisIndex:1,
                    itemStyle: {normal: {color:'rgba(102,102,255,0.6)', label:{show:true}}},
                    data:memoryuse_total,

                    markPoint : {
                        data : mark,
                        itemStyle: {normal: {color:'rgba(102,102,255,0.8)', label:{show:true},borderWidth:10}
                        


                       }
                            
                    },
                },
                
            ]


        };
           
                        // 为echarts对象加载数据 
                        myChart.setOption(option); 
                    }
                );

        </script>
        
            <div style='position:relative;'>
        	   <div id="cpuusage" style="height:700px;width:1300px;"></div>
            </div>  
        
        <!-- ECharts单文件引入 -->
        <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
        <script type="text/javascript">
                // 路径配置
                require.config({
                    paths: {
                        echarts: 'http://echarts.baidu.com/build/dist'
                    }
                });
        // 使用
                require(
                    [
                        'echarts',
                        'echarts/chart/pie' // 使用柱状图就加载bar模块，按需加载
                       
                    ],
                    function (ec) {
                        // 基于准备好的dom，初始化echarts图表
                        var myChart = ec.init(document.getElementById('cpuusage')); 
                        var option = {
                            title : {
                                text: 'cpu使用情况',
                                subtext: '5min内使用情况统计',
                                x:'center'
                            },
                            tooltip : {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient : 'vertical',
                                x : 'left',
                                data:['{{cpuloaduse_name.0}}','{{cpuloaduse_name.1}}','{{cpuloaduse_name.2}}','{{cpuloaduse_name.3}}','{{cpuloaduse_name.4}}']
                            },
                            color : [ 
                            '#6495ed','#87cefa', '#da70d6', '#32cd32', '#6495ed', 
                            '#ff69b4', '#ba55d3', '#cd5c5c', '#ffa500', '#40e0d0', 
                            '#1e90ff', '#ff6347', '#7b68ee', '#00fa9a', '#ffd700', 
                            '#6b8e23', '#ff00ff', '#3cb371', '#b8860b', '#30e0e0' 
                             ],

                            toolbox: {
                                show : true,
                                feature : {
                                    mark : {show: true},
                                    dataView : {show: true, readOnly: false},
                                    magicType : {
                                        show: true, 
                                        type: ['pie', 'funnel'],
                                        option: {
                                            funnel: {
                                                x: '25%',
                                                width: '50%',
                                                funnelAlign: 'left',

                                            }
                                        }
                                    },
                                    restore : {show: true},
                                    saveAsImage : {show: true}
                                }
                            },
                            calculable : true,
                            series : [
                                {
                                    name:'访问来源',
                                    type:'pie',
                                    radius : '55%',
                                    center: ['50%', '60%'],
                                    data:[
                                        {value:{{cpuloaduse_used.0}}, name:'{{cpuloaduse_name.0}}'},
                                        {value:{{cpuloaduse_used.1}}, name:'{{cpuloaduse_name.1}}'},
                                        {value:{{cpuloaduse_used.2}}, name:'{{cpuloaduse_name.2}}'},
                                        {value:{{cpuloaduse_used.3}}, name:'{{cpuloaduse_name.3}}'},
                                        {value:{{cpuloaduse_used.4}}, name:'{{cpuloaduse_name.4}}'}
                                    ]
                                }
                            ]
                        };
                            
                        // 为echarts对象加载数据 
                        myChart.setOption(option); 
                    }
                );

        </script>
    
        <div style="position:relative;height:600px;">
            <div id="diskusage" style="height:600px;width:1000px;position:absolute;top:0;left:0"></div>
            <div id='diskusage_form' style='height:300px;width:280px;float:right;'>
                <table id='diskusage-table' class="gridtable" toolbar="#tb"
                                data-options="border:false,singleSelect:true,fit:true,fitColumns:true,onLoadSuccess:function(data){ MergeCells('diskusage-table','itemid');}">
                    <thead>
                        <tr>
                            <th data-options="field:'itemid'" width="60" sortable="true">主机</th>
                            <th data-options="field:'productid'" width="70">已用用量MB</th>
                            <th data-options="field:'listprice'" width="80">总量MB</th>
                            <th data-options="field:'unitcost'" width="40">使用率</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                            {% for diskuse in diskusage_object %}
                            <tr>
                            <td>{{diskuse.name}}</td>
                            <td>{{diskuse.used}}</td>
                            <td>{{diskuse.total}}</td>
                            <td>{{diskuse.percentage}}</td>
                            
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                <!-- ECharts单文件引入 -->
        <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
        <script type="text/javascript">
                // 路径配置
                require.config({
                    paths: {
                        echarts: 'http://echarts.baidu.com/build/dist'
                    }
                });
        // 使用
                require(
                    [
                        'echarts',
                        'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
                       
                    ],
                    function (ec) {
                        // 基于准备好的dom，初始化echarts图表
                        var disk_used_all =0;
                        var disk_total_all = 0; 
                        var disk_name = new Array();
                        
                        {% for name in diskusage_name %}
                          disk_name.push('{{name}}');
                        {% endfor %}
                        disk_name.push('Overall');

                        var disk_used = new Array();
                        {% for used in diskusage_used %}
                          disk_used.push({{used}});
                          disk_used_all = disk_used_all + {{used}};
                        {% endfor %}
                        disk_used.push(disk_used_all);
                        //alert(disk_used_all);

                        var disk_total = new Array();
                        {% for total in diskusage_total %}
                          disk_total.push({{total}});
                          disk_total_all = disk_total_all + {{total}};
                        {% endfor %}
                        //alert(memory_total_all);
                        disk_total.push(disk_total_all);

                        var number = disk_total.length;
                        //alert(number);
                        var mark = new Array();
                        for(var i=0;i<number;i++){
                            var o = {
                                value: disk_total[i] ? (disk_used[i]/disk_total[i]).toFixed(2) : 0,
                                xAxis:i,
                                yAxis:(disk_total[i]+100000)
                            }
                            //alert(o);
                            mark.push(o);

                        }
                        var myChart = ec.init(document.getElementById('diskusage')); 
                        var option = {
                            title : {
                                text: '各主机磁盘使用情况',
                                subtext: 'by 清华云平台'
                            },
                            tooltip : {
                                trigger: 'axis'
                            },
                            legend: {
                                data:[
                                    '磁盘使用情况－已用','',
                                    '磁盘使用情况－总量'        ]
                            },
                            toolbox: {
                                show : true,
                                feature : {
                                    mark : {show: true},
                                    dataView : {show: true, readOnly: false},
                                    magicType : {show: true, type: ['line', 'bar']},
                                    restore : {show: true},
                                    saveAsImage : {show: true}
                                }
                            },
                            calculable : true,
                            grid: {y: 70, y2:30, x2:20},
                            xAxis : [
                                {
                                    type : 'category',
                                    data : disk_name
                                },
                                {
                                    type : 'category',
                                    axisLine: {show:false},
                                    axisTick: {show:false},
                                    axisLabel: {show:false},
                                    splitArea: {show:false},
                                    splitLine: {show:false},
                                    data : disk_name
                                }
                            ],
                            yAxis : [
                                {
                                    type : 'value',
                                    axisLabel:{formatter:'{value} KB'}
                                }
                            ],
                            series : [
                              
                                {
                                    name:'磁盘使用情况－已用',
                                    type:'bar',
                                    itemStyle: {normal: {color:'rgba(255,106,106,1)', label:{show:true,textStyle:{color:'#27727B'}}}},
                                    data:disk_used
                                },
                           

                                {
                                    name:'磁盘使用情况－总量',
                                    type:'bar',
                                    xAxisIndex:1,
                                    itemStyle: {normal: {color:'rgba(255,106,106,0.6)', label:{show:true}}},
                                    data:disk_total,

                                    markPoint : {
                                        data : mark,
                                        itemStyle: {normal: {color:'rgba(255,106,106,0.8)', label:{show:true},borderWidth:10},
                                        


                                       }
                                            
                                    },
                                },
                                
                            ]


                        };
           
                        // 为echarts对象加载数据 
                        myChart.setOption(option); 
                    }
                );

        </script>

        <div style="position:relative;height:600px;">
            <div id="processusage" style="height:600px;width:1000px;position:absolute;top:0;left:0"></div>
            <div id='processusage_form' style='height:300px;width:280px;float:right;'>
                <table id='processusage-table' class="gridtable" toolbar="#tb"
                                data-options="border:false,singleSelect:true,fit:true,fitColumns:true,onLoadSuccess:function(data){ MergeCells('processusage-table','itemid');}">
                    <thead>
                        <tr>
                            <th data-options="field:'itemid'" width="60" sortable="true">主机</th>
                            <th data-options="field:'productid'" width="70">进程数</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                            {% for process in processusage_object %}
                            <tr>
                            <td>{{process.name}}</td>
                            <td>{{process.used}}</td>
                            
                            
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 
        <!-- ECharts单文件引入 -->
        <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
        <script type="text/javascript">
                // 路径配置
                require.config({
                    paths: {
                        echarts: 'http://echarts.baidu.com/build/dist'
                    }
                });
        // 使用
                require(
                    [
                        'echarts',
                        'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
                       
                    ],
                    function (ec) {
                        // 基于准备好的dom，初始化echarts图表
                        var myChart = ec.init(document.getElementById('processusage')); 
                        var pro_used = new Array();
                        {% for used in pro_used %}
                          pro_used.push({{used}});
                        {% endfor %}

                        var pro_name = new Array();
                        {% for name in pro_name %}
                          pro_name.push('{{name}}');
                        {% endfor %}
                        var option = {
                            title : {
                                text: '进程数量统计',
                                subtext: '',
                                x:'left',
                            },
                            tooltip : {
                                trigger: 'axis'
                            },
                            color : [ 
                            '#3cb371', '#87cefa', '#da70d6', '#32cd32', '#6495ed', 
                            '#ff69b4', '#ba55d3', '#cd5c5c', '#ffa500', '#40e0d0', 
                            '#1e90ff', '#ff6347', '#7b68ee', '#00fa9a', '#ffd700', 
                            '#6b8e23', '#ff00ff', '#3cb371', '#b8860b', '#30e0e0' 
                             ],
                            
                            legend: {
                                data:['']
                            },
                            toolbox: {
                                show : true,
                                feature : {
                                    mark : {show: true},
                                    dataView : {show: true, readOnly: false},
                                    magicType: {show: true, type: ['line', 'bar']},
                                    restore : {show: true},
                                    saveAsImage : {show: true}
                                }
                            },
                            calculable : true,
                            yAxis : [
                                {
                                    type : 'value',
                                    boundaryGap : [0, 0.01]
                                }
                            ],
                            xAxis : [
                                {
                                    type : 'category',
                                    data : pro_name,
                                }
                            ],
                            series : [
                                {
                                    name:'',
                                    type:'bar',
                                    data: pro_used,
                                },
                                    ]
                        };
                            
                        // 为echarts对象加载数据 
                        myChart.setOption(option); 
                    }
                );

        </script>
    </div>
</body>
</html>