{% csrf_token %}
{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="{% static 'cloudclient/monitor.css' %}">
<script src="{% static 'cloudclient/monitor.js'%}"></script>


<label>Service Status Details For All Hosts</label>
<div class="container">
<div class="tabWrap">
  <table class="gridtable">
    <thead>
      <tr>
        <th>Host</th>
        <th>Service</th>
        <th>Status</th>
        <th>Last Check</th>
        <th>Duration</th>
        <th>Attempt</th>
        <th>Status Information</th>
        <th>Head Eight</th>
        <th>Head Nine</th>
        <th>Head Ten</th>
        <th>Head Eleven</th>
        <th>Head Twelve</th>
        <th>Head Thirteen</th>
        <th>Head Fourteen</th>
        <th>Head Fifteen</th>
        <th>Head Sixteen</th>
        <th>Head Seventeen</th>
        <th>Head Eighteen</th>
        <th>Head Nineteen</th>
        <th class="last-cell" style="width:6%">Head Twenty</th>
      </tr>
    </thead>
    <tbody>
      <tr class="firstRow">
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three Four Dive</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td></td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr>
        <td>Data One</td>
        <td>Data Two</td>
        <td>Data Three</td>
        <td>Data Four</td>
        <td>Data Five</td>
        <td>Data Six</td>
        <td>Data Seven</td>
        <td>Data Eight</td>
        <td>Data Nine</td>
        <td>Data Ten</td>
        <td>Data Eleven</td>
        <td>Data Twelve</td>
        <td>Data Thirteen</td>
        <td>Data Fourteen</td>
        <td>Data Fifteen</td>
        <td>Data Sixteen</td>
        <td>Data Seventeen</td>
        <td>Data Eighteen</td>
        <td>Data Nineteen</td>
        <td>Data Twenty</td>
      </tr>
      <tr class="lastRow">
        <td>Last One</td>
        <td>Last Two</td>
        <td>Last Three</td>
        <td>Last Four</td>
        <td>Last Five</td>
        <td>Last Six</td>
        <td>Last Seven</td>
        <td>Last Eight</td>
        <td>Last Nine</td>
        <td>Last Ten</td>
        <td>Last Eleven</td>
        <td>Last Twelve</td>
        <td>Last Thirteen</td>
        <td>Last Fourteen</td>
        <td>Last Fifteen</td>
        <td>Last Sixteen</td>
        <td>Last Seventeen</td>
        <td>Last Eighteen</td>
        <td>Last Nineteen</td>
        <td>Last Twenty</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<div id="main" style="height:400px;top:500px"></div>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
// 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                
                var option = {
    title : {
        text: '某地区蒸发量和降水量',
        subtext: '纯属虚构'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['蒸发量','降水量']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'蒸发量',
            type:'bar',
            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        {
            name:'降水量',
            type:'bar',
            data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
            markPoint : {
                data : [
                    {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                    {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name : '平均值'}
                ]
            }
        }
    ]
};
                            
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );

</script>
   
